.text {
    margin-left: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.block {
    border-radius: 3px;
    flex: 0.2;
    background-color: #0865de;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    width: auto;
    height: 100px;
}
.in-block {
    position: relative;
    right: 70px;
    top: 30px;
}
.in-block2 {
    position: relative;
    right: 70px;
}
.paragraph {
    position: relative;
    top: 100px;
    left: 500px;
    text-align: justify;
    text-justify: inter-word;
    hyphens: auto;
    max-width: 600px;
    margin: 0 auto; 
}
.row-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row-1 img {
    border-radius: 50%;
    max-width: 40%;
    height: 160px; /* Maintain aspect ratio */
    margin: 170px;
}
.photo-text1{
    position: relative;
    bottom: 140px;
    left: 230px;
}
.photo-text2{
    position: relative;
    bottom: 140px;
    left: 200px;
}
.photo-text3{
    position: relative;
    bottom: 140px;
    left: 250px;
}
.row-2 img{
    border-radius: 50%;
    max-width: 70%;
    height: 170px; /* Maintain aspect ratio */
    margin: 300px;
}
.row-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-text4{
    position: relative;
    bottom: 280px;
    left: 305px;
}
.photo-text5{
    position: relative;
    bottom: 280px;
    left: 305px;
}
.photo-text6{
    position: relative;
    bottom: 280px;
    left: 305px;
}


